<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form [formGroup]="productForm" (ngSubmit)="editProduct()">
        <h3>Sửa sản phẩm</h3>
        <div class="font-group">
          <input hidden class="form-control" formControlName="id"
                 id="id" placeholder="name">
        </div>
        <div class="text-left">
          <label>Tên</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="title"
                 id="title" placeholder="name">
        </div>
        <div class="text-left">
          <label>Giá</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="price"
                 id="price" placeholder="Price">
        </div>
        <div class="text-left">
          <label>Mô tả</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="description"
                 id="description" placeholder="Description">
        </div>
        <button type="submit" class="btn btn-success" style="margin: 20px 20px" >Sửa</button>
        <button routerLink="" class="btn btn-success" >Trở lại</button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
